<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light bg-dark fixed-top text-light ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/">Infosys</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" routerLinkActive="active" aria-current="page" routerLink="/rent-property">rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"  routerLink="/">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"  routerLink="/add-property">List Properties</a>
          </li>

        </ul>
        <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active text-light" routerLinkActive="active" aria-current="page" routerLink="/user/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-light" routerLinkActive="active" aria-current="page" routerLink="/user/register">Register</a>
        </li>

      </ul>
      </div>
    </div>
  </nav>

</body>
</html>
